.CurrentDataContainer {
    position: relative;
    min-height: 60px;
    margin: 10px auto;
    padding-right: 20px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
}

.DragBarContainer {
    right: 0px;
    position: absolute;
    width: 20px;
    height: 100%;
    background: linear-gradient(to top, rgb(11, 163, 96) 0%, rgb(60, 186, 146) 100%);
     transition: width .400s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.DragBarContainer button {
    display: none;
    border: 2px white solid;
    color:white;
}
.Arrowcircle{
    width:20px;
    height:20px;
    background: linear-gradient(to top, rgb(11, 163, 96) 0%, rgb(60, 186, 146) 100%);
    border-radius:50%;
    margin-left:-8px;
    
    position:absolute;
    margin-top:auto;
    margin-bottom:auto;
    top:0px;
    bottom:0px;
    left:0px;
    transition: transform .300s ease-in;
  }
  .circle_arr{
    width: 80%;
    height: 86%;
    margin-left: 6px;
    margin-top:-4px;
    color: white;
  }

.DragBarContainer:hover{
width:30%;
}

.DragBarContainer:hover button{
    display: block;
}
.DragBarContainer:hover .Arrowcircle{
    transform: rotate(180deg);
}

@media only screen and (max-width: 600px) {
    .CurrentDataContainer{
        min-height: 80px;
    }
    .DragBarContainer:hover{
        width:50%;
        }
}
@media only screen and (min-width:600px) and (max-width: 800px) {
    .DragBarContainer:hover{
        width:40%;
        }
}